<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink>Personal</a>
    <ng-template ngbNavContent class="flex-row">
      <div class="flex-row justify-content-between">
        <app-card *ngFor="let i of personalSubscriptions" [item]="i"></app-card>
      </div>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>Enterprise</a>
    <ng-template ngbNavContent>
      <div class="flex-row justify-content-between">
        <app-card
          *ngFor="let i of enterpriseSubscriptions"
          [item]="i"
        ></app-card>
      </div>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
